<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="fr.en-marche.jecoute" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<provider android:name="android.support.v4.content.FileProvider" android:authorities="fr.edecision.listen.fileprovider" android:exported="false" android:grantUriPermissions="true">
		<meta-data android:name="android.support.fr.edecision.parisetmoi" android:resource="@xml/file_paths"></meta-data>
	</provider>
	<application android:icon="@mipmap/icon" android:label="J'écoute"></application>
</manifest>