<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>J&apos;écoute</string>
	<key>CFBundleIdentifier</key>
	<string>fr.en-marche.jecoute</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/gillsans-bold.ttf</string>
		<string>Fonts/gillsans-bold-italic.ttf</string>
		<string>Fonts/gillsans-book.ttf</string>
		<string>Fonts/gillsans-book-italic.ttf</string>
		<string>Fonts/gillsans-heavy.ttf</string>
		<string>Fonts/gillsans-heavy-italic.ttf</string>
		<string>Fonts/gillsans-italic.ttf</string>
		<string>Fonts/gillsans-light.ttf</string>
		<string>Fonts/gillsans-regular.ttf</string>
		<string>Fonts/Roboto-Black.ttf</string>
		<string>Fonts/Roboto-BlackItalic.ttf</string>
		<string>Fonts/Roboto-Bold.ttf</string>
		<string>Fonts/Roboto-BoldItalic.ttf</string>
		<string>Fonts/Roboto-Italic.ttf</string>
		<string>Fonts/Roboto-Light.ttf</string>
		<string>Fonts/Roboto-LightItalic.ttf</string>
		<string>Fonts/Roboto-Medium.ttf</string>
		<string>Fonts/Roboto-MediumItalic.ttf</string>
		<string>Fonts/Roboto-Regular.ttf</string>
		<string>Fonts/Roboto-Thin.ttf</string>
		<string>Fonts/Roboto-ThinItalic.ttf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleName</key>
	<string>J&apos;écoute</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>iPhone_1242x2688</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414,896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>12.0</string>
			<key>UILaunchImageName</key>
			<string>iPhone_828x1792</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414,896}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>IiPhone_750x1334</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375,667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>iPhone_1242x2208</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414,736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>iPhone_640x1136</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320,568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>iPhone_640x960</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320,480}</string>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
</dict>
</plist>
